.box-login {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    background-color: teal;
    border-radius: 20px;
}

.box-login .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.box-login .head-login {
    padding-bottom: 20px;
}

/* ============================================================================================== */
.main {
    display: flex;
}

.menus{
    background-color: teal;
    width: 300px;
    height: 730px;
    color: white;
}

.header {
    padding-top: 10px;
    text-transform: uppercase;
}

.sub-menus {
    color: white;
    height: 20px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
     
}

.item-menu {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: teal;
}

/* ============================================================================================== */

.body-main {
    display: flex;
}

.header-body {
    height: 65px;
    width: 1250px;
    background-color: teal;
}

.component {
    padding-top: 10px;
}

.user-log {
    padding-left: 1190px;
    font-size: 30px;
}

.body {
    position: fixed;
    margin-left: 292px;
    margin-top: 70px;
    width: 1237px;
    background-color: rgb(245, 243, 243);
}

.box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

